<div>Welcome,{{blogs.user.name}}
</div>

{{#each blogs as |blog|}}
  <div class="row">
    <div class="card" style="width: 18rem">
      <div class="card-body">

        <a href="/blog/{{blog.id}}">
          <h5 class="card-title">{{blog.title}}</h5>
        </a>

        <p class="card-text">
          {{blog.description}}
        </p>

      </div>
    </div>
  </div>
{{/each}}

<div>
  <form id="new-blog" class="blog">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Blog title</label>
      <input
        type="text"
        class="form-control"
        id="blog-title"
        placeholder="Enter blog title"
      />
    </div>
    <div class="mb-3">
      <label
        for="exampleFormControlTextarea1"
        class="form-label"
      >Content</label>
      <textarea class="form-control" id="blog-description" rows="3"></textarea>
    </div>
    <button>+ New blog</button>
  </form>
</div>

<script src="./js/blog.js"></script>