<div>Welcome,{{blogs.user.name}}
</div>

{{#each blogs as |blog|}}
  <div class="row">
    <div class="card" style="width: 18rem">
      <div class="card-body">

        <a href="/blog/{{blog.id}}">
          <h5 class="card-title">{{blog.title}}</h5>
        </a>

        <p class="card-text">
          {{blog.description}}
        </p>

      </div>
    </div>
  </div>
{{/each}}

<script src="/js/dashboard.js"></script>