<div>Welcome,
  {{user.name}}

</div>
{{#each blogs as |blog|}}
  <div class="row">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <a href="/blog-edit/{{blog.id}}">
          <h5 class="card-title">{{blog.title}}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">Posted by:
          {{format_date blog.date_created}}</h6>

      </div>
    </div>
  </div>
{{/each}}

<div>
  <h1>Add a new blog</h1>
  <form id="new-blog" class="blog">
    <div class="mb-3">
      <label for="blog-title" class="form-label">Blog title</label>
      <input
        type="text"
        class="form-control"
        id="blog-title"
        placeholder="Enter blog title"
      />
    </div>
    <div class="mb-3">
      <label for="blog-description" class="form-label">Content</label>
      <textarea class="form-control" id="blog-description" rows="3"></textarea>
    </div>
    <button>+ New blog</button>
  </form>
</div>

<script src="/js/dashboard.js"></script>