<div class="row">

  <form id="new-blog" class="blog">
    <div class="mb-3">
      <label for="blog-title" class="form-label">Blog title</label>
      <input
        type="text"
        class="form-control"
        id="blog-title"
        placeholder="Enter blog title"
        value={{blog.title}}
      />
    </div>
    <div class="mb-3">
      <label for="blog-description" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="blog-description"
        rows="3"
      >{{blog.description}}</textarea>
    </div>

  </form>

</div>
<div>

  <button data-id={{blog.id}} id="delete-post">Delete post</button>
  <button data-id={{blog.id}} id="update-post">Update post</button>
</div>

<script src="/js/singleblogedit.js"></script>